.CognitiveHub {
  background-color: #282c34;
  /* text-align: center; */
  color: white;
}

.CognitiveHub textarea {
  width: 500px;
  margin: auto;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 6px;
  text-align: left;
}

.CognitiveHub #asrResult {
  margin: auto;
  width: 500px;
}

.CognitiveHub-controls {

}

.CognitiveHub-row {
  margin-top: 6px;
}

.CognitiveHub-body {
  background-color: #282c34;
}

.CognitiveHub-link {
  color: #61dafb;
}

.CognitiveHub-button {
  padding: 3px;
  box-sizing: border-box;
  border-radius: 6px;
}

.CognitiveHub-time {
  font-size: 85px;
  background-color: black;
}

.Tabs {
  padding: 6px;
}