.Visualizer {
  /* text-align: center; */
}

.Visualizer canvas {
  border-width: 0px;
  border-color: darkgray;
  border-style: solid;
  background-color: #333333;
  /* width: 300px;
  height: 200px; */
}